<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Meu Primeiro Portal Spring Boot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Meu Primeiro Portal Spring Boot</h1>
        <p>O model é o modelo de cada classe e objeto, o view são as telas e a comunicação visual com o usuario, e o controller é o que controla os dados que serao exibidos e os metodos</p>
        <a href="/portal">Página Inicial</a><br>
        <a href="/servicos">Serviços</a><br>
        <a href="/contato">Contato</a><br>
    </body>
</html>
